<mat-card class="login-card">
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form (ngSubmit)="submitForm()" [formGroup]="form" autocomplete="off">
      <mat-form-field class="f-width" appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />
        <mat-error *ngIf="form.controls.email.invalid">{{errorEmail}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Enter your password</mat-label>
        <input matInput formControlName="password" [type]="hidePassword ? 'password' : 'text'" />
        <button mat-icon-button matSuffix (click)="switchPasswordInputType()" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hidePassword">
          <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <div>
        <button [disabled]="form.invalid" type="submit" mat-raised-button color="primary">Login</button>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <span>Email: email@email.com</span>
    <span>Password: anyLongPassword</span>
  </mat-card-actions>
</mat-card>