.home {
  box-sizing: border-box;
  display: grid;
  place-items: center;
  width: 50em;
  max-width: 80%;
  height: 50vh;
  margin: 1em auto;

  h1 {
    font-size: 4em;
    font-weight: 700;
    line-height: 1.2em;
  }

  h2 {
    font-size: 1.5em;
    font-weight: 300;
  }
}